-i https://pypi.org/simple
aiohttp==1.0.5; python_version >= '3.5.3'
async-timeout==3.0.0; python_version >= '3.5.3'
babel==2.6.0
chardet==3.0.4
discord.py==0.16.12; python_version >= '3.5.3'
monium==0.3.1
multidict==4.3.1; python_version >= '3.4.1'
pyhocon==0.3.44
pyparsing==2.2.0
pytz==2018.5
websockets==3.4
